@inherits LayoutComponentBase


<MudThemeProvider IsDarkMode />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <Navbar />
<MudMainContent>
    <section id="home" Style="scroll-margin-top: 70px;">
        <Hero />
    </section>
    <section id="about" Style="scroll-margin-top: 70px;">
        <About />
    </section>
    <section id="projects" Style="scroll-margin-top: 70px;">
        <Projects />
    </section>
    <section id="contact" Style="scroll-margin-top: 70px;">
        <Contact />
    </section>
    <Footer />
</MudMainContent>
</MudLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
